<!DOCTYPE htmls>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
	<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/css/index.css}"/>
	<link rel="stylesheet" th:href="@{/css/shop.css}">
	<link rel="stylesheet" th:href="@{/css/pagination.css}"/>
	<link rel="stylesheet" th:href="@{/css/order.css}">
	<link rel="stylesheet" th:href="@{/css/scroll-button.css}"/>
	<title>Order History</title>
</head>
<body>
	<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
	<div class="container">
		<div th:replace="~{shop.html :: .drop-down-bar}"></div>
		<div th:replace="~{index.html :: .wrap}"></div>
		<div class="order-container">
			<p>Order History</p>
			<div class="order-filter">
				<div class="search-shop">
					<p>Filter By ID</p>
					<form style="margin:0;">
						<input type="text" id="search-field" name="date-sort">
					</form>
				</div> 
				<div class="date">
					<p>Sort By</p>
					<select id="total">
						<option selected disabled hidden>Total</option>
						<option th:value="@{'?page=' + ${currentPage} + '&sortField=total_amount&sortDir=asc'}">High</option>
						<option th:value="@{'?page=' + ${currentPage} + '&sortField=total_amount&sortDir=desc'}">Low</option>
					</select>
				</div>
			</div>
			<div class="order-title">
				<p style="width:10%;">#</p>
				<p>OrderID</p>
				<p>Date</p>
				<p>Total</p>
				<p>Status</p>
				<p>Action</p>
			</div>
			<div class="order-history">
				<div th:each="order, i : ${orders}" th:object="${order}" class="order-item">
					<p th:text="${i.index + startIndex}"style="width:10%;">#1</p>
					<p th:text="*{order_id}">1</p>
					<p th:text="*{created_date}">/02/2022</p>
					<p th:text="*{total_amount}">4300$</p>
					<p th:text="*{status}"></p>
					<a id="order-detail" th:href="@{/order-detail/{id}(id=*{order_id})}">detail</a>
				</div>			
			</div>
			<div th:replace="~{shop.html :: .pagination}"></div>	
		</div>
		
	</div>
	<div th:replace="~{index.html :: .coupon}"></div>
    <div th:replace="~{index.html :: .footer}"></div>
	<script th:src="@{/js/index.js}"></script>
	<script th:src="@{/js/order.js}"></script>
	<script th:src="@{/js/cart.js}"></script>
	<script th:src="@{/js/scroll-button.js}"></script>
</body>
</html>