<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Test</title>
</head>
<body> 
  <p th:if="${test1 !=null }" th:text="${'new password : ' + test1}">
  <p th:if="${test2 !=null }" th:text="${'encode new password : ' + test2}">

  <p th:if="${test3 !=null }" th:text="${'password : ' + test3}">
  <p th:if="${test4 !=null }" th:text="${'encode password : ' + test4}">
  <p th:if="${test5 !=null }" th:text="${'old password : ' + test5}">

  
</br>
   

   
       
</body>
</html>